<nz-layout class="layout">
    <nz-sider nzCollapsible nzWidth="200px">
      <div class="logo"> <span>SISA UI KIT</span></div>
      <ul id="main-menu" nz-menu nzMode="inline" class="mt-4">
        <ng-container *ngFor="let m of menu; let i = index">
          <!-- <p [id]="'sub-menu-' + i" class="sub-menu"> {{ m.name}} </p> -->
          <ng-container *ngFor="let item of m.menu">

            <li *ngIf="item.children && item.children.length > 0; else elseBlock" nz-submenu nzMatchRouter nzTitle={{item.name}}
              nzIcon={{item.icon}}>
              <ul>
                <li [nzMatchRouter]="true" nz-menu-item *ngFor="let submenu of item.children" [routerLink]="submenu.path">
                  {{submenu.name}}
                </li>
              </ul>
            </li>
            <ng-template #elseBlock>
              <li [nzMatchRouter]="true" nz-menu-item>
                <a [routerLink]="item.path">
                  <i nz-icon nzType={{item.icon}}></i>
                  <span>{{item.name}}</span>
                </a>
              </li>
            </ng-template>
          </ng-container>
        </ng-container>
       
      </ul>

    </nz-sider>
    <nz-layout>
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>

</nz-layout>
